<div class="container">
    <h1>Nozzle Filament Validator</h1>

    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs" id="myTabs">
        <!-- Tabs will be added dynamically -->
    </ul>

    <!-- Placeholder for dynamically added tabs content -->
    <div class="tab-content" id="extruder-tabs">
        <!-- Content for extruder tabs will be added dynamically -->
    </div>

{#    <!-- General Info Tab -->#}
{#    <div id="general-info-tab" class="tab-pane show active">#}
{#        <!-- Display the current Build Plate -->#}
{#        <div id="general-information">#}
{#            <strong>Current Build Plate: </strong><span id="current-build-plate"></span><br>#}
{#            <strong>Supported Materials: </strong><span id="current-build-plate-filaments"></span><br><br>#}
{#            <div class="form-check">#}
{#                <input class="form-check-input" type="checkbox" id="multiple-toolheads-checkbox" disabled>#}
{#                <label class="form-check-label" for="multiple-toolheads-checkbox">Multiple Toolheads</label>#}
{#            </div>#}
{#            <strong>Number of Extruders: </strong><span id="number-of-extruders"></span><br><br>#}
{#        </div>#}
{#    </div>#}
</div>