<div class="container nozzle-filament-validator">
    <h1>Nozzle Filament Validator</h1>

    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs" id="myTabs">
        <!-- Tabs will be added dynamically -->
    </ul>

    <!-- Placeholder for dynamically added tabs content -->
    <div class="tab-content" id="extruder-tabs">
        <!-- Content for extruder tabs will be added dynamically -->
    </div>
</div>